<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <span class="icon">
        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
      </span>
      <span>{{ title }}</span>
    </a>

    <a (click)="toggleNav()" [ngClass]="{'is-active': navStatus === true}" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-basic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-basic" class="navbar-menu" [ngClass]="{'is-active': navStatus === true}">
    <div class="navbar-start">
      <a (click)="closeNav()" class="navbar-item" routerLinkActive="is-active" routerLink="/decoder/jwt">JWT</a>
      <a (click)="closeNav()" class="navbar-item" routerLinkActive="is-active" routerLink="/decoder/base64">Base64</a>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container is-fluid">
    <router-outlet></router-outlet>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-right is-size-7">
    <p>
      <a href="https://github.com/jvendryes/SafeD3C0D3/CHANGELOG.md" target="_blank"><strong>Version {{ version }}</strong></a>
    </p>
  </div>
</footer>